<div class="m-5">
  <%= link_to  new_book_path, class:"btn btn-outline-secondary btn-block" do %>
  new
  <% end %>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center text-light">Genres</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="text-center text-light"><%= link_to "List All", books_path %></td>
      </tr>
    <% genres.each do |genre| %>
      <tr>
        <td class="align-middle text-center">
          <%= link_to book_path(genre_id: genre.id) do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>